@model List<SeramikStore.Entities.Currency>

<h2>Para Birimleri</h2>


<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Kod</th>
            <th>Para Birimi Adı</th>
            <th>Sembol</th>
            <th>Varsayılan</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Code</td>
                <td>@item.Name</td>
                <td>@item.Symbol</td>
                <td>@item.IsDefault</td>
            </tr>
        }
    </tbody>
</table>
