@inject Microsoft.Extensions.Options.IOptions<SeramikStore.Web.Options.CompanyOptions> Company
@{
    ViewData["Title"] = "Уведомление за защита на личните данни";
}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h1 class="mb-4 text-center">Уведомление за защита на личните данни</h1>

            <p>
                Това уведомление е изготвено в съответствие със Закона за защита на личните данни № 6698 на Турция (KVKK).
            </p>

            <h4 class="mt-4">1. Администратор на данни</h4>
            <p>
                Вашите лични данни се обработват от <strong>@Company.Value.Name</strong> в качеството му на администратор на данни.
            </p>

            <h4 class="mt-4">2. Обработвани лични данни</h4>
            <ul>
                <li>Име и фамилия</li>
                <li>Имейл адрес</li>
                <li>Телефонен номер</li>
                <li>Адрес за фактуриране и доставка</li>
                <li>Информация, свързана с поръчките</li>
                <li>IP адрес и данни за използване на уебсайта</li>
            </ul>

            <h4 class="mt-4">3. Цел на обработването</h4>
            <ul>
                <li>Процеси по поръчка и доставка</li>
                <li>Плащане и фактуриране</li>
                <li>Комуникация с клиента</li>
                <li>Законови задължения</li>
            </ul>

            <h4 class="mt-4">4. Предаване на данни</h4>
            <p>
                Личните данни могат да бъдат предавани на куриерски компании, доставчици на платежни услуги
                и оторизирани държавни институции, когато това се изисква по закон.
            </p>

            <h4 class="mt-4">5. Вашите права</h4>
            <p>
                Можете да поискате достъп, корекция, изтриване или ограничаване на обработването на вашите лични данни.
            </p>

            <p class="fw-bold">
                Контакт: 📧 @Company.Value.Email
            </p>
        </div>
    </div>
</div>