@inject Microsoft.Extensions.Options.IOptions<SeramikStore.Web.Options.CompanyOptions> Company
@{
    ViewData["Title"] = "Споразумение за членство";
}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <h1 class="mb-4 text-center">Споразумение за членство</h1>

            <p>
                Това споразумение за членство се сключва между @(Company.Value.Name)
                и потребителя, който става член на уебсайта, при следните условия.
            </p>

            <h5>1. Страни</h5>
            <p>
                Компания: @(Company.Value.Name) <br />
                Член: Физическото лице, което се регистрира в уебсайта
            </p>

            <h5>2. Предмет на споразумението</h5>
            <p>
                Това споразумение урежда условията за регистрация на члена
                в уебсайта и използването на предоставяните услуги.
            </p>

            <h5>3. Членство и сигурност на акаунта</h5>
            <p>
                Членът е длъжен да пази данните за акаунта в тайна.
                Всички действия, извършени чрез акаунта, се считат за
                извършени от самия член.
            </p>

            <h5>4. Лични данни</h5>
            <p>
                Личните данни се обработват в съответствие с уведомлението
                за защита на личните данни.
            </p>

            <h5>5. Влизане в сила</h5>
            <p>
                С регистрацията си в уебсайта, членът се счита, че е приел
                всички условия на това споразумение.
            </p>
        </div>
    </div>
</div>