@using SeramikStore.Contracts.Category
@using SeramikStore.Entities
@using SeramikStore.Web.Localization
@inject IStringLocalizer<CommonResource> L
@model List<CategoryListItemDto>

@foreach (var cat in Model)
{
    <li class="nav-item">
        <a class="nav-link"
           asp-controller="Home"
           asp-action="Category"
           asp-route-id="@cat.Id">
            @cat.Name
        </a>
    </li>
}
<li class="nav-item">
    <a class="nav-link"
       asp-controller="Home"
       asp-action="Category"
       asp-route-id="0">
        @L["T³m ▄r³nler"]
    </a>
</li>