@{
    Layout = null;
}

<h2>🛠 Yapılacaklar (DEV)</h2>

<ul>
    <li>Ürün tablosuna stok miktarı eklenecek. Stok miktarının üzerinde miktar sepete eklenemeyecek.</li>
    <li>Admin tarafı için siparişiniz onaylandı. Kargoya verildi şeklinde. Statüsü güncelleme ekranı.</li>
    <li>Admin tarafı için Müşteri listesini görüntüleme</li>
    <li>Çerez yönetimi metni</li>
</ul>
