@model SeramikStore.Web.ViewModels.Category.CategoryViewModel

<h2>Category Detay</h2>
<dl class="row">
    <dt class="col-sm-3">Id</dt>
    <dd class="col-sm-9">@Model.Id</dd>
    <dt class="col-sm-3">Name</dt>
    <dd class="col-sm-9">@Model.Name</dd>
    <dt class="col-sm-3">IsActive</dt>
    <dd class="col-sm-9">@Model.IsActive</dd>
</dl>
<a asp-action="Index" class="btn btn-secondary">Geri</a>
