html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


/* ================= AMAZON STYLE PRODUCT CARD ================= */

.product-card-amazon {
    background: #fff;
    border: 1px solid #e3e6e6;
    border-radius: 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
}

    .product-card-amazon:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    }



/* IMAGE AREA */
.product-img-box {
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

    .product-img-box img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }

/* BODY */
.product-body {
    padding: 10px 12px 14px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* TITLE */
.product-title {
    font-size: 13.5px;
    line-height: 1.4;
    color: #0f1111;
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* PRICE */
.product-price {
    margin-top: auto;
    font-size: 17px;
    font-weight: 600;
    color: black;
}

    .product-price .currency {
        font-size: 14px;
        font-weight: 500;
    }


/*.product-card:hover {
    transform: translateY(-4px);
}

.product-card {
    transition: transform 0.2s ease;
    border-radius: 12px;
    overflow: hidden;*/ /* 🔴 EN ÖNEMLİ SATIR */
/*}

.product-image-wrapper {
    height: 200px;*/ /* sabit kutu */
    /*display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;*/ /* resim kutuya sığar */
/*}
}

.product-title {
    font-size: 0.95rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.product-price {
    font-size: 1rem;
    font-weight: bold;
    color: #0d6efd;
}*/

