@using SeramikStore.Web.Localization
@inject IStringLocalizer<AccountResource> L
@{
    ViewData["Title"] = "Email Doğrula";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-2">
            <partial name="_LeftMenu" />
        </div>
        <div class="col-md-7">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h6 class="mb-4">Profilim</h6>
                    @{
                        var isConfirmed = Context.Session.GetString("session_IsEmailConfirmed") == "True";
                        var email = Context.Session.GetString("session_Email");
                    }

                    <div class="card mb-4">
                        <div class="card-header">
                            <strong>Email Adresi Doğrulama</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                @if (isConfirmed)
                                {
                                    <div class="col-md-6 mb-3 text-success">
                                        <i class="bi bi-check-circle-fill"></i>
                                        @email
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-12 mb-3 text-warning">
                                        <i class="bi bi-exclamation-triangle-fill"></i>
                                        @email Email Adresi henüz doğrulanmamış....
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <form asp-action="ResendConfirmationEmail2" asp-controller="Account" method="post">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-warning">
                                                @L["Doğrula"]
                                            </button>
                                        </form>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
