@using SeramikStore.Web.ViewModels
@using SeramikStore.Web.Localization
@inject IStringLocalizer<AccountResource> L
@model String 

@{
    ViewData["Title"] = @Model;
}

<div class="container mt-5 d-flex align-items-center justify-content-center">
    <div class="row w-100 justify-content-center">
        <div class="col-md-5 col-sm-8">
            <div class="card shadow-lg border-0">
                
                <div class="card-body text-center">
                    <p class="fs-5 mb-4">@Model</p>
                    ss
                    <a asp-controller="Account"
                       asp-action="Login"
                       class="btn btn-primary">
                        @L["Giriş Yap"]
                    </a>
                </div>

                

            </div>
        </div>
    </div>
</div>
