
@using SeramikStore.Web.Localization
@inject IStringLocalizer<AccountResource> L
@using SeramikStore.Web.ViewModels
@model ForgotPasswordViewModel

<form method="post">
    <div class="form-group">
        <label>@L["Email"]</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button class="btn btn-primary w-100 mt-3">
        @L["Şifre Sıfırlama Linki Gönder"]
    </button>
</form>
