@using Microsoft.Extensions.Localization
@using SeramikStore.Web.Localization
@inject IStringLocalizer<AccountResource> L
@model string

@{
    ViewData["Title"] = L["Şifre Sıfırlama"];
}

<div class="container mt-5 d-flex justify-content-center">
    <div class="col-md-5">
        <div class="card shadow border-0">
            <div class="card-body text-center">
                <p class="fs-5">@Model</p>

                <a asp-controller="Account"
                   asp-action="Login"
                   class="btn btn-primary mt-3">
                    @L["Giriş Yap"]
                </a>
            </div>
        </div>
    </div>
</div>
